@import "tailwindcss";
  

  input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(40%) sepia(80%) saturate(600%) hue-rotate(200deg);
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  

  